<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mindfulminutes">

    <application
        android:allowBackup="true"
        android:label="Mindful Minutes"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindfulMinutes">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MoodActivity" android:exported="false"/>
        <activity android:name=".BreathingActivity" android:exported="false"/>
        <activity android:name=".TrendsActivity" android:exported="false"/>
    </application>

</manifest>
